<!DOCTYPE html>
<html>

<head>
  <title>Admin Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .sidebar {
      height: 100%;
      width: 150px;
      position: fixed;
      background-color: #333;
      padding-top: 20px;
    }

    .sidebar a {
      display: block;
      padding: 10px 15px;
      color: white;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: #555;
    }

    .content {
      margin-left: 200px;
      padding: 20px;
    }
  </style>
</head>

<body>
  <div class="sidebar">
    <a href="#home">Home</a>
    <a href="#" onclick="fetchVideo()">Fetch Video</a>
    <a href="/liveStream">Live Stream</a>
    <a href="signin.html">Users</a>
    <a href="#settings">Settings</a>
    <a href="/logout">Logout</a>
  </div>
  <div class="content" id="main-content">
    <h2>Welcome to the Admin Page</h2>
    <div id="video-container"></div>
  </div>
</body>

<script>
  function fetchVideo() {
    const videoContainer = document.getElementById("video-container");

    const fetchButton = document.createElement("Button");
    fetchButton.innerText = "Fetch Video";

    const button = document.createElement("button");
    button.innerText = "Submit";
    button.onclick = submitForm;

    const input = document.createElement("input");
    input.type = "text";
    input.placeholder = "Enter value";

    videoContainer.appendChild(fetchButton);
    videoContainer.appendChild(input);
    videoContainer.appendChild(button);
  }

  function fetchButton() {
    fetch("http:localhost/fetch")
      .then((response) => response.json())
      .then((data) => {
        console.log("Response from backend:", data);
        //   alert("Response from backend: " + JSON.stringify(data));
      })
      .catch((error) => {
        console.error("Error fetching video:", error);
        //   alert("Error fetching video");
      });
  }

  function submitForm() {
    const inputValue = document.querySelector("input").value;

    fetch("http:localhost/fetchLive", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          value: inputValue
        }),
      })
      .then((response) => response.json())
      .then((data) => {
        console.log("Response from backend:", data);
        alert("Response from backend: " + JSON.stringify(data));

        // Remove the button and input box
        const videoContainer = document.getElementById("video-container");
        videoContainer.removeChild(videoContainer.lastChild);
        videoContainer.removeChild(videoContainer.lastChild);
      })
      .catch((error) => {
        console.error("Error submitting form:", error);
        alert("Error submitting form");
      });
  }
</script>

</html>