.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #333;
  width: 60%;
  max-width: 320px;
  animation: modalOpen 0.5s ease;
}

@keyframes modalOpen {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 177.78%;
  height: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
