<style>
  .nav_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background: #141414;
    /* 更加细腻的深色背景 */
    transition: background-color 0.3s ease;
    /* 背景颜色渐变动画 */
  }

  .nav_items.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #181818;
    /* 暗色背景 */
    padding: 10px 0;
  }

  .nav_items div {
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1em;
    /* 字体大小调整 */
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /* 颜色、变形和阴影渐变动画 */
  }

  .nav_items div:hover {
    color: #e50914;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }

  .menu-toggle {
    display: block;
    color: #fff;
    cursor: pointer;
  }

  #log-out a {
    color: #ffffff;
    text-decoration: none;
  }

  @media only screen and (min-width: 600px) {
    .nav_items {
      display: flex;
    }

    .menu-toggle {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuToggle = document.querySelector(".menu-toggle");
    const navItems = document.querySelector(".nav_items");

    menuToggle.addEventListener("click", function() {
      navItems.classList.toggle("active");
    });

    window.addEventListener("resize", function() {
      if (window.innerWidth >= 600) {
        navItems.classList.remove("active");
      }
    });
  });
</script>

<nav>
  <!-- <div class="nav_logo">
    logo
  </div> -->
  <div class="nav_items">
    <div id="Home">Home</div>
    <div id="About">About</div>
    <div id="Contact">Contact</div>
    <div id="Live">Live</div>
    <div id="log-out"><a href="/logout">Logout</a></div>
  </div>
  <div class="menu-toggle">&#9776; Menu</div>
</nav>